{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "linebreak-style": 0
  },
  "plugins": [
    "jest",
    "compat"
  ],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true
  }
}